<h2>User Profile</h2></br>
<div class="row">
  <div class="small-10 small-center columns">

      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h3> Email: </h3>
      <h4><%= @user.email %></h4>
      <%= @user.avatar %></br>
       <button type="button" class="button"><%= link_to "Delete Account", user_path(current_user), data: {:confirm => 'Are you sure?'}, :method => :delete  %></button>
       <button type="button" class="button"><%= link_to "Edit Profile", edit_user_registration_path %></button>
    </div>
</div>

<div class="row">
  <div class="small-10 small-center columns">
    <% @foods = Food.where(user_id: @user.id).order("created_at") %>

    <% @foods.each do |food| %>
    <li><%= link_to food.name, food_path(food) %></li>
    <li><%= food.photo %></li>
    <li><%= food.description %></li></br>
    <% end %>
  </div>
</div>
