<hi>User Profile</hi></br>
<p>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <%= @user.avatar %>
  <li><%= link_to "Delte Account", user_path(current_user), data: {:confirm => 'Are you sure?'}, :method => :delete  %></li>
</p>

<% @foods = Food.where(user_id: @user.id).order("created_at") %>

<% @foods.each do |food| %>
  <li><%= link_to food.name, food_path(food) %></li>
  <li><%= food.photo %></li>
  <li><%= food.description %></li></br>
<% end %>
