
<div class="medium-8 medium-centered columns">
    <div class="card">
      <%= image_tag (@food.photo)%>
      <div class="card-section">
        <h2><%= @food.name %><h2>
        <p><%= @food.description %><p>
      </div>
    </div>
  </div>

</div>

  <% if @food.user == current_user %>
  <%= link_to "Edit", edit_food_path(@food) %>
  <% end %>

    <% @reviews = Review.where(food_id: @food.id).order("created_at") %>
    <% @reviews.each do |review| %>
    <div class="card" style="width: 400px;">
      <div class="card-divider">
      <p id="total_<%=review.id%>">
        Total: <%= review.total %>
      </p>
    </div>
    <div class="card-section">
      <i class="fa fa-thumbs-up" aria-hidden="true"></i><button id="<%=review.id%>" class="thumbup">Thumb Up</button></br>
      <i class="fa fa-thumbs-down" aria-hidden="true"></i><button id="<%=review.id%>" class="thumbdown">Thumb Down</button></br>
    </div>
      <div class="card-section">
        <%= "#{review.user.first_name} #{review.user.last_name[0]}."%>
      </div>
      <div class="card-section">
        Rating: <%= review.rating %></br>
        Review: <%= review.body %></br>
        Created: <%= review.created_at.strftime("%B %d %Y") %>
      </div>
    </div>
    <% end %>

<div class="button"><%= link_to "Add a Review", new_food_review_path(@food) %>
</div>
