
<div class="row">
  <div class="small-10 small-center columns">
    <p>
      <%= @food.name %>
      <%= @food.photo %>
      <%= @food.description %>
    </p>
  </div>
</div>

<% if @food.user == current_user %>
<%= link_to "Edit", edit_food_path(@food) %>
<% end %>

<%= link_to "Add a Review", new_food_review_path(@food) %>

<% @reviews = Review.where(food_id: @food.id).order("created_at") %>

<ul style="list-style: none;">
  <% @reviews.each do |review| %>

    <li id="total_<%=review.id%>">
      Total: <%= review.total %>
    </li>
    <button id="<%=review.id%>" class="thumbup">Thumb Up</button>
    <button id="<%=review.id%>" class="thumbdown">Thumb Down</button>
    <li><%= "#{review.user.first_name} #{review.user.last_name[0]}."%></li></br>
    <li><%= review.rating %></li></br>
    <li><%= review.body %></li></br>
    <li><%= review.created_at.strftime("%B %d %Y") %></li></br></br>

  <% end %>
</ul>
