<%= form_for [@food,  @review] do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this @review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= @food.name %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.hidden_field :food_id, value: @food.id %>
  </div>

  <div class="actions">
    <%= f.submit "Add Review" %>
  </div>
<% end %>
