<%= form_for [@food,  @review] do |f| %>
<%= @food.name %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :body, "Review" %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.hidden_field :food_id, value: @food.id %>
  </div>

  <% if @review.id == nil %>
    <div class="actions">
      <%= f.submit "Add Review" %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit "Update Review" %>
    </div>
  <% end %>
<% end %>
